.body {
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: crosshair;
}

.contact,.email {
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: crosshair;
}

body {
    background-color: #2b6777;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;  
}

.project {
    color: #ffffff;
    cursor: crosshair;
    width: fit-content;
}

.me {
    border: 7px solid #52ab98;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

li, .email {
    cursor: pointer;
}

.loremipsum {
    text-align: center;
}

.qrcode {
    text-align: center;
}

.linkedin {
    text-align: center;
}

